@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27aa80;
}
.key{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */

    cursor: pointer;
    width: 5.8rem;
    height: 5rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center; 
    background: #32ff6a;
    box-shadow: 1px 1px 10px 4px rgba(244, 255, 97,0.9);
}
.key-text{
    color: #000;
    font-weight: 700;
    font-size: 2rem;
}
.key-description{
    color: #333;
    position: relative;
    top: -0.5rem;
}
.key.active{
    transition: all 0.07s;
    transform: scale(1.2);
    box-shadow: 1px 1px 10px 8px rgba(244, 255, 97,0.9);
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    html{
        font-size: 11px;
    }
}
html{
    font-family: 'MuseoModerno', cursive;
}